# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../../:\Users\duhan\Desktop\ÜNİVERSİTE\BEYKOZ\Beykoz2 Dönem2\Mühendislik Projesi 2\platform_tutorial\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
